@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

@import "./theme.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// override slick css
.slick-prev:before,
.slick-next:before {
  color: rgb(56, 59, 54) !important;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev {
  left: 50px !important;
}
.slick-next {
  right: 50px !important;
}

/* ----------------
-------Global CSS
------------------- */
.title {
  h6 {
    text-transform: uppercase;
    color: #ff9110;
  }
}
.icon-color-orange {
  color: #ff9110;
  font-size: 30px;
}
.icon-backgroundColor-orange {
  background-color: #ff9110;
  font-size: 20px;
  padding: 0px 5px;
}
.secondaryTitle {
  h2 {
    font-weight: bolder;
  }
}
.fw-500 {
  font-weight: 500;
}
.form-input {
  background: #f3f3f8;
  border: none;
  padding: 15px;
}
.form-textArea {
  height: 300px;
}
.color-dark {
  color: #171a65;
}
.lh-2 {
  line-height: 2;
}
.fs-18 {
  font-size: 18px;
}
.pl-100 {
  padding-left: 100px;
}
/* ------------------
-------Global CSS end
--------------------- */

// button
.my-btn {
  background-color: $primary;
  color: $white;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 30px;
  text-align: center;
  border: none;
}

// navbar
.my-navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  .navbar-wrapper {
    display: flex;
    justify-content: space-between;
    .logo-container {
      height: 90px;
      overflow: hidden;
      img {
        height: inherit;
        object-fit: cover;
      }
    }
    ul {
      display: flex;
      line-height: 90px;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        padding-right: 30px;
      }
    }
  }
}
// banner
.banner {
  position: relative;
  // height: 100vh;
  .background-left {
    height: 100vh;
    width: 50%;
    background: #f2f6ff;
  }
  .service-background-left {
    height: 70vh;
    width: 50%;
    background: #f2f6ff;
  }
  .about-background-left {
    height: 72vh;
    width: 50%;
    background: #f2f6ff;
    position: relative;
  }
  .blog-detail {
    position: absolute;
    top: 183px;
  }
  .banner-content {
    padding: 0px 100px;
    height: calc(100vh - 200px);
    overflow: hidden;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-between;
    .banner-image {
      width: 70%;
      height: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  .service-banner-image {
    width: 70%;
    height: 70%;
    padding-top: 40px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .banner-wrapper {
    margin-right: 45px;
    flex: 1;
    margin-top: 90px;
    position: relative;
    .title {
      position: absolute;
      top: 0;
      left: 0;
      right: -400px;
      color: $primary;
      font-size: 60px;
      text-transform: uppercase;
      font-weight: bold;
      span {
        color: $secondary;
      }
    }
    .description {
      font-size: 14px;
      margin-top: 200px;
    }
    .service-description {
      font-size: 12px;
      margin-top: 100px;
    }
  }
}

// project container

.slider-card {
  display: flex !important;
  justify-content: space-around;
}

.footer {
  display: flex;
  background-color: #263443;
  padding: 100px 150px;
  justify-content: space-between;
  .social-media-container {
    display: flex;
    flex-direction: column;
    img {
      height: 200px;
      width: 200px;
      overflow: hidden;
      height: inherit;
      object-fit: cover;
    }
  }
  .input-icon {
    padding: 1px 5px 4px 5px;
  }
}

.about-us-wrapper {
  padding: 100px 100px 0px 100px;
  .about-us-container {
    img {
      width: 90%;
      height: 95%;
    }
  }
  .flex-width {
    flex: 1;
  }
  .line-height {
    line-height: 2;
    color: #6b6767;
  }
}
.fs-12 {
  font-size: 12px;
}
.background-pink {
  background-color: #fff7f7;
}
.background-dark {
  background: #263443;
}

.blog-image {
  width: 100%;
  height: 400px;
  padding-top: 40px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.fs-15 {
  font-size: 15px;
}
.our-service-wrapper {
  padding: 80px 100px 100px 100px;
  .about-us-container {
    img {
      width: 90%;
      height: 95%;
    }
  }
  .card {
    border-radius: 0 !important;
  }
  .flex-width {
    flex: 1;
  }
  .line-height {
    line-height: 2;
    color: #6b6767;
  }
  .service-card-container {
    .service-card-content {
      line-height: 1.5;
      color: #6b6767;
      font-size: 12px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .dark-background {
      color: #fff !important;
    }
    .dark-color {
      line-height: 1.5;
      color: #dcdcdc;
      font-size: 12px;
    }
    img {
      height: 60px;
    }
  }
}

.project-wrapper {
  padding: 80px 100px 100px 100px;
  .project-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    overflow: hidden;
    position: relative;

    .item-1 {
      grid-column: 1 / 4;
      grid-row: span 2;
      position: relative;
    }
    .gradient {
      position: absolute;
      background-image: linear-gradient(
        0deg,
        rgb(29, 39, 125, 1) 10%,
        rgba(24, 38, 201, 0.5) 37%,
        rgba(244, 247, 247, 0) 65%
      );
      width: 100%;
      height: 40%;
      bottom: 0;
    }

    .content {
      position: absolute;
      bottom: 0;
      padding: 0px 0px 30px 50px;
      color: #fff;
    }
    .item-2 {
      position: relative;
      grid-column: span 3;
    }
    .item-3 {
      grid-column: span 3;
      position: relative;
    }
    .item-4 {
      grid-column: 4 / 8;
      grid-row: 2;
      position: relative;
    }
    .item-5 {
      grid-column: 8 / 10;
      grid-row: 2;
      position: relative;
    }

    .title-container {
      color: #ff9110;
    }
    .content-container {
      color: #fff;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .button {
      h6 {
        text-transform: uppercase;
        color: #fff;
      }
    }

    .icon-color-white {
      color: #fff;
      font-size: 30px;
    }
  }
}
.display-none {
  display: none;
}
.team-member {
  width: 30%;
  border: none !important;
  position: relative;
  .title-container {
    color: #ff9110;
    h5 {
      font-weight: 700;
    }
  }
  .social-media {
    font-size: 25px;
  }
}
.on-hover-project {
  position: absolute;
  transition: all 0.2s ease-in-out;
  background-image: linear-gradient(
    0deg,
    rgb(29, 39, 125, 1) 10%,
    rgb(20, 33, 170, 0.6) 37%,
    rgba(14, 15, 15, 0.6) 65%
  );
  width: 100%;
  height: 100%;
  bottom: 0;
}
.body {
  position: absolute;
  bottom: 0;
}

.blog-wrapper {
  padding: 80px 100px 50px 100px;

  .card {
    border-radius: 0 !important;
  }

  .newsfeed-card-container {
    width: 30%;
    background-color: #eeeded;
    .newsfeed-card-content {
      line-height: 1.5;
      font-size: 15px;
      color: black;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .title {
      h6 {
        text-transform: none;
        color: #ff9110;
        font-size: 15px;
      }
    }
  }
  .slick-prev {
    left: -10px !important;
  }
  .slick-next {
    right: -10px !important;
  }
}
.newsfeed-card-date {
  color: #2b4eca;
  line-height: 1.5;
  font-size: 12px;
}
.card-image {
  width: 100px;

  height: 100px;
  object-fit: contain;
}
.border-none {
  border: none;
}
.testimonial-wrapper {
  padding: 80px 100px 100px 100px;
  .slider-container {
    width: 900px;
    margin: 0px auto;
    .content {
      padding: 0px 150px;
    }
    .details {
      color: #8d8587;
      font-size: 12px;
    }
    .slider-item {
      background-color: #efeff8;
    }
    .slick-prev {
      left: -60px !important;
    }
    .slick-next {
      right: -60px !important;
    }
  }
}

.process-wrapper {
  .image-width {
    width: 138px;
  }
}
.contact-us {
  .fs-26 {
    font-size: 26px;
  }
}
